{% extends "layout.html" %}

{% block title %}
    Basic
{% endblock %}

{% block body %}

  <!-- Page breadcrumb -->
    <section id="mu-page-breadcrumb">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="mu-page-breadcrumb-area">
              <h2>Resources</h2>
              <ol class="breadcrumb">
                <li>
                  <a href="/">Home</a>
                </li>
                <li class="active">Resources</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!-- End breadcrumb -->

    <section id="mu-course-content">
      <div class="container">
        <h2>Basic English</h2>
        <div class="row">
          <div class="col-md-12">
            <div class="mu-course-content-area">
              <div class="row">
                <div class="col-md-9">
                  <!-- start course content container -->
                  <div class="mu-course-container">
                    <div class="row">
                      <div class="col-md-6 col-sm-6">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a href="#"
                              ><img src="/static/img/courses/1.jpeg" alt="img"
                            /></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a
                                href="https://www.ef.fr/blog/language/10-conseils-pour-apprendre-anglais-plus-rapidement/"
                                target="blink"
                                >Introduction</a
                              >
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h4>
                              <a
                                href="https://www.ef.fr/blog/language/10-conseils-pour-apprendre-anglais-plus-rapidement/"
                                target="blink"
                                >Conseils Pour Apprendre L'anglais</a
                              >
                            </h4>
                            <p>
                              L’anglais est amusant à apprendre, et, bien que
                              certains le considèrent à la portée de tous et
                              relativement facile.
                            </p>
                            <div class="mu-latest-course-single-contbottom">
                              <a
                                class="mu-course-details"
                                href="https://www.ef.fr/blog/language/10-conseils-pour-apprendre-anglais-plus-rapidement/"
                                target="blink"
                                >Details</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a
                              href="https://engoo.com/app/daily-news"
                              target="blink"
                              ><img src="/static/img/courses/2.jpeg" alt="img"
                            /></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a href="https://edition.cnn.com/" target="blink"
                                >Daily News</a
                              >
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h4>
                              <a
                                href="https://engoo.com/app/daily-news"
                                target="blink"
                                >Get the latest news
                              </a>
                            </h4>
                            <p>
                              Breaking news, in-depth will hold your attention
                              while significantly improving your English skills.
                            </p>
                            <div class="mu-latest-course-single-contbottom">
                              <a
                                class="mu-course-details"
                                href="https://www.bbc.com/news"
                                target="blink"
                                >Details</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a
                              href="https://engoo.com/app/materials/grammar/6r1fXsYHEeimuzOlcF_9gA"
                              target="blink"
                              ><img src="/static/img/courses/3.jpeg" alt="img"
                            /></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a
                                href="https://www.talkenglish.com/grammar/grammar.aspx"
                                target="blink"
                                >Grammar</a
                              >
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h4>
                              <a
                                href="https://engoo.com/app/materials/grammar/6r1fXsYHEeimuzOlcF_9gA"
                                target="blink"
                                >Get stated with English grammar
                              </a>
                            </h4>
                            <p>
                              This course teaches the basic concepts of English
                              grammar needed to speak and write accurately.
                            </p>
                            <div class="mu-latest-course-single-contbottom">
                              <a
                                class="mu-course-details"
                                href="https://engoo.com/app/materials/grammar/6r1fXsYHEeimuzOlcF_9gA"
                                target="blink"
                                >Details</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a
                              href="https://www.wallstreetenglish.com/blog/english-vocabulary-for-beginners/"
                              target="blink"
                              ><img src="/static/img/courses/4.jpeg" alt="img"
                            /></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a
                                href="https://www.ef.com/ca/english-resources/english-vocabulary/"
                                target="blink"
                                >Vocabulary</a
                              >
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h4>
                              <a
                                href="https://www.bbc.co.uk/learningenglish/basic-vocabulary"
                                target="blink"
                                >Vocabulary you need for speaking</a
                              >
                            </h4>
                            <p>
                              These lessons are designed to help students
                              improve and expand their English vocabulary.
                            </p>
                            <div class="mu-latest-course-single-contbottom">
                              <a
                                class="mu-course-details"
                                href="https://www.ef.com/ca/english-resources/english-vocabulary/"
                                target="blink"
                                >Details</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a
                              href="https://engoo.com/app/materials/english-for-kids/Kzf_WsYaEei-YYst1rfvdg"
                              target="blink"
                              ><img src="/static/img/courses/10.jpg" alt="img"
                            /></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a
                                href="https://engoo.com/app/materials/english-for-kids/Kzf_WsYaEei-YYst1rfvdg"
                                target="blink"
                                >English for Kids</a
                              >
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h4>
                              <a
                                href="https://learnenglishkids.britishcouncil.org/helping-your-child/how-start-teaching-kids-english-home"
                                target="blink"
                                >Fun way for young children to learn</a
                              >
                            </h4>
                            <p>
                              Help children to learn the basics of the English
                              language, from the alphabet to simple words and
                              sentences.
                            </p>
                            <div class="mu-latest-course-single-contbottom">
                              <a
                                class="mu-course-details"
                                href="https://engoo.com/app/materials/english-for-kids/Kzf_WsYaEei-YYst1rfvdg"
                                target="blink"
                                >Details</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a
                              href="https://www.fredisalearns.com/unit-4-healthy-lifestyle/"
                              target="blink"
                              target="blink"
                              ><img src="/static/img/courses/11.jpg" alt="img"
                            /></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a
                                href="https://learnenglishkids.britishcouncil.org/category/topics/fruit-and-vegetables"
                                target="blink"
                              >
                                Health & Lifestyle</a
                              >
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h4>
                              <a
                                href="https://www.ihbristol.com/useful-english-expressions/example/asking-about-health-life-2"
                                target="blink"
                                >Your health and everyday life</a
                              >
                            </h4>
                            <p>
                              Get the language and cultural knowledge needed to
                              deal with health-related situations in everyday
                              life.
                            </p>
                            <div class="mu-latest-course-single-contbottom">
                              <a
                                class="mu-course-details"
                                href="https://www.ihbristol.com/useful-english-expressions/example/asking-about-health-life-2"
                                target="blink"
                                >Details</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a
                              href="https://www.engvid.com/english-pronunciation-simple-vowel-sounds/"
                              target="blink"
                              ><img src="/static/img/courses/5.jpeg" alt="img"
                            /></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a
                                href="https://www.engvid.com/english-pronunciation-simple-vowel-sounds/"
                                >Pronunciation</a
                              >
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h4>
                              <a
                                href="https://www.engvid.com/english-pronunciation-simple-vowel-sounds/"
                                target="blink"
                                >Learn how to sound correctly</a
                              >
                            </h4>
                            <p>
                              Get wide range of tips, audio recordings, and
                              other exercises to you start pronuncing
                              confidently.
                            </p>
                            <div class="mu-latest-course-single-contbottom">
                              <a
                                class="mu-course-details"
                                href="https://www.englishclub.com/pronunciation/"
                                target="blink"
                                >Details</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a
                              href="https://engoo.com/app/materials/conversation/4g-usmSuEeirTddASFJXxg"
                              target="blink"
                              ><img src="/static/img/courses/6.jpeg" alt="img"
                            /></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a
                                href="https://engoo.com/app/materials/conversation/4g-usmSuEeirTddASFJXxg"
                                target="blink"
                                >Conversation</a
                              >
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h4>
                              <a
                                href="https://www.fluentu.com/blog/english/english-conversation-for-beginners/"
                                target="blink"
                                >Start speaking from schratch</a
                              >
                            </h4>
                            <p>
                              his course helps beginner students to improve
                              their speaking and listening skills.
                            </p>
                            <div class="mu-latest-course-single-contbottom">
                              <a
                                class="mu-course-details"
                                href="https://engoo.com/app/materials/conversation/4g-usmSuEeirTddASFJXxg"
                                target="blink"
                                >Details</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end course content container -->
                  <!-- start course pagination -->
                  <div class="mu-pagination">
                    <nav>
                      <ul class="pagination">
                        <li>
                          <a href="/course" aria-label="Previous">
                            <span class="fa fa-angle-left"></span> Prev
                          </a>
                        </li>
                        <li class="active">
                          <a href="/course">1</a>
                        </li>
                        <li><a href="/course1">2</a></li>
                        <li><a href="/course2">3</a></li>
                        <li><a href="/videos">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                          <a href="/course1" aria-label="Next">
                            Next <span class="fa fa-angle-right"></span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                  <!-- end course pagination -->
                </div>
                <div class="col-md-3">
                  <!-- start sidebar -->
                  <aside class="mu-sidebar">
                    <!-- start single sidebar -->
                    <div class="mu-single-sidebar">
                      <h3>Categories</h3>
                      <ul class="mu-sidebar-catg">
                        <li><a href="/course">Basic English</a></li>
                        <li><a href="/course1">Intermediate English</a></li>
                        <li><a href="/course2">Advance English</a></li>
                        <li><a href="/videos">Videos </a></li>
                        <li>
                          <a
                            href="https://learnenglish.britishcouncil.org/skills/listening"
                            target="blink"
                            >Audios</a
                          >
                        </li>
                      </ul>
                    </div>
                    <!-- end single sidebar -->
                    <!-- start single sidebar -->
                    <div class="mu-single-sidebar">
                      <h3>Popular Resources</h3>
                      <div class="mu-sidebar-popular-courses">
                        <div class="media">
                          <div class="media-left">
                            <a
                              href="https://basicenglishspeaking.com/basic-english-grammar-rules/"
                              target="blink"
                            >
                              <img
                                class="media-object"
                                src="/static/img/courses/7.jpeg"
                                alt="img"
                              />
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">
                              <a
                                href="https://basicenglishspeaking.com/basic-english-grammar-rules/"
                                target="blink"
                                >Grammar lesson</a
                              >
                            </h4>
                          </div>
                        </div>
                        <div class="media">
                          <div class="media-left">
                            <a
                              href="https://learnenglish.britishcouncil.org/vocabulary/beginner-to-pre-intermediate"
                              target="blink"
                            >
                              <img
                                class="media-object"
                                src="/static/img/courses/8.png"
                                alt="img"
                              />
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">
                              <a
                                href="https://learnenglish.britishcouncil.org/vocabulary/beginner-to-pre-intermediate"
                                target="blink"
                                >Vocabulary lesson</a
                              >
                            </h4>
                          </div>
                        </div>
                        <div class="media">
                          <div class="media-left">
                            <a
                              href="https://www.fluentu.com/blog/english/learn-english-pronunciation/"
                              target="blink"
                            >
                              <img
                                class="media-object"
                                src="/static/img/courses/9.jpeg"
                                alt="img"
                              />
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">
                              <a
                                href="https://www.macmillandictionary.com/pronunciation/british/basic_2"
                                target="blink"
                                >Pronunciation lesson</a
                              >
                            </h4>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end single sidebar -->
                    <!-- start single sidebar -->
                    <div class="mu-single-sidebar">
                      <h3>Archives</h3>
                      <ul class="mu-sidebar-catg mu-sidebar-archives">
                        <li>
                          <a href="#">May <span>(25)</span></a>
                        </li>
                        <li>
                          <a href="">June <span>(35)</span></a>
                        </li>
                        <li>
                          <a href="">July <span>(20)</span></a>
                        </li>
                        <li>
                          <a href="">August <span>(125)</span></a>
                        </li>
                        <li>
                          <a href="">September <span>(45)</span></a>
                        </li>
                        <li>
                          <a href="">October <span>(85)</span></a>
                        </li>
                      </ul>
                    </div>
                    <!-- end single sidebar -->
                  </aside>
                  <!-- / end sidebar -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}




