{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}

{% block body %}

    <!-- Start Slider -->
    <section id="mu-slider">
      <!-- Start single slider item -->
      <div class="mu-slider-single">
        <div class="mu-slider-img">
          <figure>
            <img src="/static/img/slider/1.jpg" alt="img" />
          </figure>
        </div>
        <div class="mu-slider-content">
          <h4>Welcome To LEBC English Club</h4>
          <span></span>
          <h2>Resources For Learning English</h2>
          <p>
            Language is “the infinite use of finite means.” Remember, it is
            possible to communicate big ideas with relatively limited language.
            Don’t feel like you need perfect English before you can go out and
            have interesting conversations with other people.
          </p>
          <a href="#" class="mu-read-more-btn">Read More</a>
        </div>
      </div>
      <!-- Start single slider item -->
      <div class="mu-slider-single">
        <div class="mu-slider-img">
          <figure>
            <img src="/static/img/slider/2.jpg" alt="img" />
          </figure>
        </div>
        <div class="mu-slider-content">
          <h4>Learning English For Better Communication</h4>
          <span></span>
          <h2>Best Sources Ever</h2>
          <p>
            Do the difficult things while they are easy and do the great things
            while they are small. A journey of a thousand miles begins with a
            single step.
          </p>
          <a href="#" class="mu-read-more-btn">Read More</a>
        </div>
      </div>
      <!-- Start single slider item -->
      <div class="mu-slider-single">
        <div class="mu-slider-img">
          <figure>
            <img src="/static/img/slider/3.jpg" alt="img" />
          </figure>
        </div>
        <div class="mu-slider-content">
          <h4>Exclusivly For English Learners</h4>
          <span></span>
          <h2>Everyone Can learn English</h2>
          <p>
            It doesn’t matter how slowly you go as long as you do not stop.
            Learning a skill such as a new language can take a long time. If you
            feel like your progress is slow, bear in mind these wise words from
            Confucius.
          </p>
          <a href="#" class="mu-read-more-btn">Read More</a>
        </div>
      </div>
      <!-- Start single slider item -->
    </section>
    <!-- End Slider -->
    <!-- Start service  -->
    <section id="mu-service">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="mu-service-area">
              <!-- Start single service -->
              <div class="mu-service-single">
                <span class="fa fa-book"></span>
                <h3>Learn Online</h3>
                <p>
                  We provide you great sources for learning English online and
                  get ahead faster.
                </p>
              </div>
              <!-- Start single service -->
              <!-- Start single service -->
              <div class="mu-service-single">
                <span class="fa fa-users"></span>
                <h3>Lot of Practice</h3>
                <p>
                   As Practice Makes Progress we provide you videos, Audios, and Books to enhance your skills rapidly.
                </p>
              </div>
              <!-- Start single service -->
              <!-- Start single service -->
              <div class="mu-service-single">
                <span class="fa fa-table"></span>
                <h3>Free and Authentic Resources</h3>
                <p>
                  We outfit you with free resources for starting learning from scratch and
                  enhance your English skills.
                </p>
              </div>
              <!-- Start single service -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End service  -->

    <!-- Start about us -->
    <section id="mu-about-us">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="mu-about-us-area">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="mu-about-us-left">
                    <!-- Start Title -->
                    <div class="mu-title">
                      <h2>About Us</h2>
                    </div>
                    <!-- End Title -->
                    <p>
                      Founded the 20th December 2019. LEBC English Club
                      stans for: Learning English For Better Communication
                      English Club. Is a great platform for learners
                      of all levels of English to find Authentic resources. LEBC
                      English Club is a club at ULPGL Goma University
                      in North KIVU, Goma twon, eastern regions of Democratic
                      republique of the Congo(DRC). Learning English is so
                      difficult for someone who doesn’t use authantic resources.
                      That can depress him and push him to give up while
                      starting to learn or at any level of the stage. To sum up
                      the advantages, authentic materials:
                    </p>
                    <ul>
                      <li>
                        Help prepare learners for the 'real' world of
                        communication.
                      </li>
                      <li>
                        Guide learners toward the language they need for their
                        particular context.
                      </li>
                      <li>
                        Motivate learners to communicate, because they help make
                        communication real.
                      </li>
                    </ul>
                    <p>
                      That is our Duty as an English club to help Learners have
                      access to Authentic materials while they're about to
                      learn English.
                    </p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="mu-about-us-right">
                    <a
                      id="mu-abtus-video"
                      href="#"
                      target="mutube-video"
                    >
                      <img src="/static/img/about-us.png" alt="img" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End about us -->

    <!-- Start about us counter -->
    <section id="mu-abtus-counter">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="mu-abtus-counter-area">
              <div class="row">
                <!-- Start counter item -->
                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="mu-abtus-counter-single">
                    <span class="fa fa-book"></span>
                    <h4 class="counter">200</h4>
                    <p>Subjects</p>
                  </div>
                </div>
                <!-- End counter item -->
                <!-- Start counter item -->
                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="mu-abtus-counter-single">
                    <span class="fa fa-table"></span>
                    <h4 class="counter">150</h4>
                    <p>Online Programs</p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="mu-abtus-counter-single">
                    <span class="fa fa-users"></span>
                    <h4 class="counter">50</h4>
                    <p>Members</p>
                  </div>
                </div>
                <!-- End counter item -->
                <!-- Start counter item -->
                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="mu-abtus-counter-single no-border">
                    <span class="fa fa-user-secret"></span>
                    <h4 class="counter">35</h4>
                    <p>Teachers</p>
                  </div>
                </div>
                <!-- End counter item -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End about us counter -->

    <!-- Start section -->
    <section id="mu-features">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="mu-features-area">
              <!-- Start Title -->
              <div class="mu-title">
                <h2 style="font-family: Tahoma;">
                  Authentic English Resources From basic to advance Level
                </h2>
                <p>
                  Learning English as a foreign Language can be so tough for
                  learners of all stages, however everyone can say. What the
                  hell do you say? Don't you know that we are in the 21st
                  century and the internet has all resources we need for
                  learning English? yes that true, the internet has a ton of
                  resources, but do you know how to find authentic and
                  appropriate materials for your learning?
                </p>
                <p>
                  The answer for this quetion is up to you. take a look to the
                  fallowing resources and you well not be sorry for using them.
                </p>
              </div>
              <!-- End Title -->
              <!-- Start features content -->
              <div class="mu-features-content">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="mu-single-feature">
                      <span class="fa fa-book"></span>
                      <h4>Free English Books</h4>
                      <p>
                        Reading is a very important language skill. it helps you
                        improve all parts of the English language -vocabulary,
                        grammar, and writing. Improve and use your reading
                        Skills and you will improve all your English Skills.
                      </p>
                      <a
                        href="#"
                        >Read More</a
                      >
                    </div>
                  </div> <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="mu-single-feature">
                      <span class="fa fa-film"></span>
                      <h4>Video Lessons</h4>
                      <p>
                        Whant to learn English with Videos about insane science experiments? Or how about hilarious English Comedy videos? Maybe you want to take the relaxing route with an English nature documentary. Well, it's all possible.
                      </p>
                      <a href="#">Read More</a>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="mu-single-feature">
                      <span class="fa fa-users"></span>
                      <h4>Practice</h4>
                      <p>
                        The phrase “practice makes perfect” sets too many people up for failure. "Practice makes progress,” on the other hand, is a philosophy that encourages and acknowledges improvement in any capacity.
                      </p>
                      <a href="#">Read More</a>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="mu-single-feature">
                      <span class="fa fa-laptop"></span>
                      <h4>Online Learning</h4>
                      <p>
                        Online learning has become an important component in education. The main advamtage of E-learning is that it increases the engagement; attendance and motivation of student which are requisite for learning.
                      </p>
                      <a href="#">Read More</a>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="mu-single-feature">
                      <span class="fa fa-microphone"></span>
                      <h4>Audio Lessons</h4>
                      <p>
                        Learning a second language requires different strategies for learners to gain new language skills. The easy and  affordable way that help learners master the language is listening to audios. It's helps them master the pronunciation.
                      </p>
                      <a href="#">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End resources content -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End section -->


    <!-- End our teacher -->

    <!-- Start testimonial -->
    <section id="mu-testimonial">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="mu-testimonial-area">
              <div id="mu-testimonial-slide" class="mu-testimonial-content">
                <!-- start testimonial single item -->
                <div class="mu-testimonial-item">
                  <div class="mu-testimonial-quote">
                    <blockquote>
                      <p>
                        when i Started to learn English it was so hard for me to find appropriate materials for my learning but when i fall on this Website i descoved a lot of resources and that helps me leveling up my English skills.
                      </p>
                    </blockquote>
                  </div>
                  <div class="mu-testimonial-img">
                    <img src="/static/img/testimonial-1.jpg" alt="img" />
                  </div>
                  <div class="mu-testimonial-info">
                    <h4>Dev</h4>
                    <span>Happy Learner</span>
                  </div>
                </div>
                <!-- end testimonial single item -->

                <!-- start testimonial single item -->
                <div class="mu-testimonial-item">
                  <div class="mu-testimonial-quote">
                    <blockquote>
                      <p>
                          Learning English without using authentic and appropriate materials is a wasting of time and energy because you're stuggle to go ahead, and that can push you to abandon. whereas using authentic materials can help you get ahead faster, that's way i recommend you to use this Website.
                      </p>
                    </blockquote>
                  </div>
                  <div class="mu-testimonial-img">
                    <img src="/static/img/testimonial-2.jpg" alt="img" />
                  </div>
                  <div class="mu-testimonial-info">
                    <h4>Rebaca Michel</h4>
                    <span>Happy Member</span>
                  </div>
                </div>
                <!-- end testimonial single item -->
                <!-- start testimonial single item -->
                <div class="mu-testimonial-item">
                  <div class="mu-testimonial-quote">
                    <blockquote>
                      <p>
                          I am carrently learning English. Kinda long time ago i was using boring resources and that frustrated me a lot but this site ease my mind by providing me update and authentic materials.
                      </p>
                    </blockquote>
                  </div>
                  <div class="mu-testimonial-img">
                    <img src="/static/img/testimonial-3.jpg" alt="img" />
                  </div>
                  <div class="mu-testimonial-info">
                    <h4>Stev</h4>
                    <span>Happy Learner</span>
                  </div>
                </div>
                <!-- end testimonial single item -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End testimonial -->


{% endblock %}


