{% extends "layout.html" %}

{% block title %}
    Online Programs
{% endblock %}

{% block body %}
  <!-- Page breadcrumb -->
    <section id="mu-page-breadcrumb">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="mu-page-breadcrumb-area">
              <h2>Resources</h2>
              <ol class="breadcrumb">
                <li>
                  <a href="/" target="blink">Home</a>
                </li>
                <li class="active">Resources</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End breadcrumb -->
    <section id="mu-course-content">
      <div class="container">
        <h2>Online English Programs</h2>
        <div class="row">
          <div class="col-md-12">
            <div class="mu-course-content-area">
              <div class="row">
                <div class="col-md-9">
                  <!-- start course content container -->
                  <div class="mu-course-container">
                    <div class="row">

                      <div class="col-md-6 col-sm-6">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a
                              href="https://www.edx.org/learn/english"
                              target="blink"
                              ><img src="/static/img/onlineC/1.jpeg" alt="img"
                            /></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a
                                href="https://www.edx.org/learn/english"
                                target="blink"
                                >edX English Courses</a
                              >
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <p>
                            Take free online English language courses to improve your English grammar, composition, conversation and writing skills. Learn effective English communication skills with online classes and courses from Tsinghua, ASU, HKPolyU and other top schools.
                            </p>
                            <div class="mu-latest-course-single-contbottom">
                              <a
                                class="mu-course-details"
                                href="https://www.edx.org/learn/english"
                                target="blink"
                                >Details</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a
                              href="https://www.futurelearn.com/subjects/language-courses/learn-english"
                              target="blink"
                              ><img src="/static/img/onlineC/2.jpg" alt="img"
                            /></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a
                                href="https://www.futurelearn.com/subjects/language-courses/learn-english"
                                target="blink"
                                >Future Learn</a
                              >
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <p>
                                Discover new work and study opportunities worldwide with a range of online English courses designed to improve your English speaking and writing skills. Learn new skills, pursue your interests or advance your career with our short online courses.
                            </p>
                            <div class="mu-latest-course-single-contbottom">
                              <a
                                class="mu-course-details"
                                href="https://www.futurelearn.com/subjects/language-courses/learn-english"
                                target="blink"
                                >Details</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a
                              href="https://www.coursera.org/browse/language-learning/learning-english"
                              target="blink"
                              ><img src="/static/img/onlineC/9.png" alt="img"
                            /></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a
                                href="https://www.coursera.org/browse/language-learning/learning-english"
                                target="blink"
                              >
                              Coursera</a
                              >
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <p>
                              Whether English is your native or second language, Coursera offers a wide range of English language courses you can take online, anywhere, anytime. As native speakers, you can take these courses to improve your communication skills in professional settings for career development or new opportunities. If English is not your native language, these courses can help you improve your English grammar, composition, and conversational skills to achieve your career goals.
                            </p>
                            <div class="mu-latest-course-single-contbottom">
                              <a
                                class="mu-course-details"
                                href="https://www.coursera.org/browse/language-learning/learning-english"
                                target="blink"
                                >Details</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a href="https://www.duolingo.com/learn" target="blink"
                              ><img src="/static/img/onlineC/7.jpeg" alt="img"
                            /></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a
                                href="https://www.duolingo.com/learn"
                                target="blink"
                                >Duolingo</a
                              >
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <p>
                              Duolingo is an American platform that includes a language-learning website and mobile app, as well as a digital language-proficiency assessment exam. The company uses the freemium model; the app and the website are accessible without charge, although Duolingo also offers a premium service for a fee. As of 30 June 2020, the language-learning website and app offers 95 different language courses in 38 languages. The app has over 300 million registered users across the world.
                            </p>
                            <div class="mu-latest-course-single-contbottom">
                              <a
                                class="mu-course-details"
                                href="https://www.duolingo.com/learn"
                                target="blink"
                                >Details</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end course content container -->
                  <!-- start course pagination -->
                  <div class="mu-pagination">
                    <nav>
                      <ul class="pagination">
                        <li>
                          <a href="/videos" aria-label="Previous">
                            <span class="fa fa-angle-left"></span> Prev
                          </a>
                        </li>
                        <li>
                          <a href="/course">1</a>
                        </li>
                        <li><a href="/course1">2</a></li>
                        <li><a href="/course2">3</a></li>
                        <li><a href="/videos">4</a></li>
                        <li class="active"><a href="/online_courses">5</a></li>
                        <li>
                          <a href="/online_courses" aria-label="Next">
                            Next <span class="fa fa-angle-right"></span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                  <!-- end course pagination -->
                </div>
                <div class="col-md-3">
                  <!-- start sidebar -->
                  <aside class="mu-sidebar">
                    <!-- start single sidebar -->
                    <div class="mu-single-sidebar">
                      <h3>Categories</h3>
                      <ul class="mu-sidebar-catg">
                        <li><a href="/course">Basic English</a></li>
                        <li><a href="/course1">Intermediate English</a></li>
                        <li><a href="/course2">Advance English</a></li>
                        <li><a href="/videos">Videos </a></li>
                        <li><a href="/online_courses">Free Online Programs</a></li>
                        <li>
                          <a
                            href="https://www.youtube.com/channel/UCS9_Jjos2eL3DeEZ1gKnrdg" target="blink"
                            >Audios</a
                          >
                        </li>
                      </ul>
                    </div>
                    <!-- end single sidebar -->
                    <!-- start single sidebar -->
                    <div class="mu-single-sidebar">
                      <h3>Popular Resources</h3>
                      <div class="mu-sidebar-popular-courses">
                        <div class="media">
                          <div class="media-left">
                            <a
                              href="ttps://www.futurelearn.com/subjects/language-courses/learn-english"
                              target="blink"
                            >
                              <img
                                class="media-object"
                                src="/static/img/onlineC/3.jpeg"
                                alt="img"
                              />
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">
                              <a
                                href="ttps://www.futurelearn.com/subjects/language-courses/learn-english"
                                target="blink"
                                >Future Learn</a
                              >
                            </h4>
                          </div>
                        </div>
                        <div class="media">
                          <div class="media-left">
                            <a
                              href="https://www.duolingo.com/learn"
                              target="blink"
                            >
                              <img
                                class="media-object"
                                src="/static/img/onlineC/8.png"
                                alt="img"
                              />
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">
                              <a
                                href="https://www.duolingo.com/learn"
                                target="blink"
                                >Duolingo</a
                              >
                            </h4>
                          </div>
                        </div>
                        <div class="media">
                          <div class="media-left">
                            <a
                              href="https://www.coursera.org/browse/language-learning/learning-english"
                              target="blink"
                            >
                              <img
                                class="media-object"
                                src="/static/img/onlineC/5.jpeg"
                                alt="img"
                              />
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">
                              <a
                                href="https://www.coursera.org/browse/language-learning/learning-english"
                                target="blink"
                                >Coursera</a
                              >
                            </h4>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end single sidebar -->
                    <!-- start single sidebar -->
                    <div class="mu-single-sidebar">
                      <h3>Archives</h3>
                      <ul class="mu-sidebar-catg mu-sidebar-archives">
                        <li>
                          <a href="/videos">July</a><span>(6)</span></a>
                        </li>
                        <li>
                          <a href="#">August<span>(8)</span></a>
                        </li>
                        <li>
                          <a href="#">August<span>(10)</span></a>
                        </li>
                      </ul>
                    </div>
                    <!-- end single sidebar -->
                  </aside>
                  <!-- / end sidebar -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}