/*   
Styles.css

By Albin.
*/
/* Page Style */
body {
  margin: 0;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: white;
  background-color: #555;
  margin: 0px;
}
.container {
  width: 85%;
  margin: auto;
  overflow: visible;
}

/* Nav-bar styles */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: Tahoma;
  background-color: #5d4954;
}
.logo {
  color: honeydew;
  text-transform: uppercase;
  letter-spacing: 5px;
  font: italic 20px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 70%;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

/* Fixing the .nav-links */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .nav-links {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  #Profilpicture {
    width: 100%;
  }
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #5d4954;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    opacity: 0.9;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}
.nav-active {
  display: flex;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
/* End nav-bar  styles */

/* ShowCase */
#showcase {
  background-color: rgba(52, 52, 235, 0.876);
  background-position: center right;
  min-height: 352px;
  text-align: center;
  margin-bottom: 20px;
  overflow: visible;
  margin-top: 20px;
}
#showcase h2 {
  color: #fff;
  font-weight: 800;
  font-style: italic;
  font-family: Tahoma;
}
/* Page content */
#main {
  text-align: center;
  color: #fff;
  font-weight: 800;
}
.introduction {
  font-weight: 800;
  font-family: Tahoma;
  font-style: italic;
  font-size: 25px;
}
.center {
  margin: auto;
}
/* footer */
#main-footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  opacity: 0.8;
  font: italic 16px Tahoma;
}
/* Adjustment */
@media (max-width: 600px) {
  #main {
    width: 100%;
    float: none;
  }
}
