{% extends "layout.html" %}

{% block title %}
    Failure
{% endblock %}

{% block body %}
<!-- Start error section  -->
    <section id="mu-error">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="mu-error-area1">
               <img alt="{{ top }}" class="border img-responsive"  src="http://memegen.link/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?alt=https://i.imgur.com/CsCgN7Ll.png" title="{{ top }}">
            </div>
          </div>
        </div>
      </div>
    </section>
<!-- End error section  -->
{% endblock %}





