{% extends "layout.html" %}

{% block title %}
    Intermediate
{% endblock %}

{% block body %}

  <!-- Page breadcrumb -->
    <section id="mu-page-breadcrumb">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="mu-page-breadcrumb-area">
              <h2>Resources</h2>
              <ol class="breadcrumb">
                <li>
                  <a href="/">Home</a>
                </li>
                <li class="active">Resources</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End breadcrumb -->
    <section id="mu-course-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="mu-course-content-area">
              <h2>Intermediate English</h2>
              <div class="row">
                <div class="col-md-9">
                  <!-- start course content container -->
                  <div class="mu-course-container">
                    <div class="row">
                      <div class="col-md-6 col-sm-6">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a
                              href="https://engoo.com/app/materials/grammar/6r1fXsYHEeimuzOlcF_9gA"
                              target="blink"
                              ><img src="/static/img/course1/1.jpeg" alt="img"
                            /></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a
                                href="https://engoo.com/app/materials/grammar/6r1fXsYHEeimuzOlcF_9gA"
                                target="blink"
                                >Grammar
                              </a>
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h4>
                              <a
                                href="https://www.engvid.com/topic/grammar/"
                                target="blink"
                                >Grammar for Intermediate Learners</a
                              >
                            </h4>
                            <p>
                              Expand your Grammar knowledge and the way you
                              structure your sentences.
                            </p>
                            <div class="mu-latest-course-single-contbottom">
                              <a
                                class="mu-course-details"
                                href="https://learnenglish.britishcouncil.org/grammar/intermediate-to-upper-intermediate"
                                target="blink"
                                >Details</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a
                              href="https://en.islcollective.com/english-esl-worksheets/search/healthy+lifestyle"
                              target="bink"
                              ><img src="/static/img/course1/2.jpeg" alt="img"
                            /></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a
                                href="https://engoo.com/app/materials/health-lifestyle/0xcduMYWEei-XVPv0MdlmQ"
                                target="blink"
                                >Health & Lifestyle</a
                              >
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h4>
                              <a
                                href="https://engoo.com/app/daily-news"
                                target="blink"
                                >English needed for Health and Lifestyle
                              </a>
                            </h4>
                            <p>
                              Get the language and cultural knowledge needed to
                              deal with health-related situations in everyday
                              life.
                            </p>
                            <div class="mu-latest-course-single-contbottom">
                              <a
                                class="mu-course-details"
                                href="https://learningenglish.voanews.com/z/955"
                                target="blink"
                                >Details</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a
                              href="https://engoo.com/app/materials/vocabulary/9uTJSsYPEeixthfMCuukyg"
                              target="blink"
                              ><img src="/static/img/course1/3.jpeg" alt="img"
                            /></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a
                                href="https://engoo.com/app/materials/vocabulary/9uTJSsYPEeixthfMCuukyg"
                                target="blink"
                                >Vocabulary</a
                              >
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h4>
                              <a
                                href="https://learnenglish.britishcouncil.org/vocabulary/intermediate-to-upper-intermediate"
                                target="blink"
                                >Get a tone of Words</a
                              >
                            </h4>
                            <p>
                              These lessons are designed to help Learners
                              improve and expand their English vocabulary.
                            </p>
                            <div class="mu-latest-course-single-contbottom">
                              <a
                                class="mu-course-details"
                                href="https://engoo.com/app/materials/vocabulary/9uTJSsYPEeixthfMCuukyg"
                                target="blink"
                                >Details</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a
                              href="https://engoo.com/app/materials/travel-culture/KpAtCsOrEeisw4ceJUw1Tw"
                              target="blink"
                              ><img src="/static/img/course1/4.jpeg" alt="img"
                            /></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a
                                href="https://learnenglish.britishcouncil.org/skills/reading/intermediate-b1/a-travel-guide"
                                target="blink"
                                >Travel & Culture</a
                              >
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h4>
                              <a
                                href="https://www.learning-english-online.net/english-for-travel-and-tourism/"
                                target="blink"
                                >Travel without being lost</a
                              >
                            </h4>
                            <p>
                              Get skills needed for traveling abroad. And
                              knowledge about different cultures and traditions.
                            </p>
                            <div class="mu-latest-course-single-contbottom">
                              <a
                                class="mu-course-details"
                                href="https://www.allthingstopics.com/travel.html"
                                target="blink"
                                >Details</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a
                              href="https://www.englishclub.com/business-english/"
                              target="blink"
                              ><img src="/static/img/course1/5.jpeg" alt="img"
                            /></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a
                                href="https://engoo.com/app/materials/business/RWVinsOrEeiE8w-LaNCm_w"
                                target="blink"
                                >Business</a
                              >
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h4>
                              <a
                                href="https://www.engvid.com/topic/business-english/"
                                target="blink"
                                >English For Business</a
                              >
                            </h4>
                            <p>
                              Get a wide range of language skills needed to
                              succeed in an English-speaking business
                              environment.
                            </p>
                            <div class="mu-latest-course-single-contbottom">
                              <a
                                class="mu-course-details"
                                href="https://learnenglish.britishcouncil.org/business-english"
                                >Details</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a
                              href="https://engoo.com/app/materials/describing-pictures/P_HriMOnEeifo0O-yMP42w"
                              target="blink"
                              ><img src="/static/img/course1/8.jpeg" alt="img"
                            /></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a
                                href="https://engoo.com/app/materials/describing-pictures/P_HriMOnEeifo0O-yMP42w"
                                target="blink"
                                >Describing Pictures</a
                              >
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h4>
                              <a
                                href="https://learnenglishteens.britishcouncil.org/exams/speaking-exams/describe-photo-or-picture"
                                target="blink"
                                >Be able to describe things</a
                              >
                            </h4>
                            <p>
                              These lessons are a fun way for students to
                              improve their vocabulary and speaking skills by
                              describing pictures.
                            </p>
                            <div class="mu-latest-course-single-contbottom">
                              <a
                                class="mu-course-details"
                                href="https://engoo.com/app/materials/describing-pictures/P_HriMOnEeifo0O-yMP42w"
                                target="blink"
                                >Details</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a
                              href="https://engoo.com/app/materials/world-literature/V6fdfsOrEeiJyO_mHSV7DA"
                              target="blink"
                              ><img src="/static/img/course1/7.jpeg" alt="img"
                            /></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a
                                href="https://engoo.com/app/materials/world-literature/V6fdfsOrEeiJyO_mHSV7DA"
                                target="blink"
                                >World Literature</a
                              >
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h4>
                              <a
                                href="https://en.wikipedia.org/wiki/World_literature"
                                target="blink"
                                >Improve your reading skills</a
                              >
                            </h4>
                            <p>
                              Get famous stories to help advanced students
                              improve their vocabulary and reading comprehension
                              skills.
                            </p>
                            <div class="mu-latest-course-single-contbottom">
                              <a
                                class="mu-course-details"
                                href="https://engoo.com/app/materials/world-literature/V6fdfsOrEeiJyO_mHSV7DA"
                                target="blink"
                                >Details</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a href="#"
                              ><img src="/static/img/course1/9.jpeg" alt="img"
                            /></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a
                                href="https://engoo.com/app/materials/conversation/4g-usmSuEeirTddASFJXxg"
                                target="blink"
                                >Conversation</a
                              >
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h4>
                              <a
                                href="https://engoo.com/app/materials/conversation/4g-usmSuEeirTddASFJXxg"
                                target="blink"
                                >Level up your speaking skills</a
                              >
                            </h4>
                            <p>
                              These lessons cover a variety of topics to help
                              beginner to advanced students improve their
                              communication skills.
                            </p>
                            <div class="mu-latest-course-single-contbottom">
                              <a
                                class="mu-course-details"
                                href="https://learnenglish.britishcouncil.org/skills/speaking"
                                target="blink"
                                >Details</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end course content container -->
                  <!-- start course pagination -->
                  <div class="mu-pagination">
                    <nav>
                      <ul class="pagination">
                        <li>
                          <a href="/course" aria-label="Previous">
                            <span class="fa fa-angle-left"></span> Prev
                          </a>
                        </li>
                        <li><a href="/course">1</a></li>
                        <li class="active"><a href="/course1">2</a></li>
                        <li><a href="/course2">3</a></li>
                        <li><a href="/videos">4</a></li>
                        <li><a href="/online_courses">5</a></li>
                        <li>
                          <a href="/course2" aria-label="Next">
                            Next <span class="fa fa-angle-right"></span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                  <!-- end course pagination -->
                </div>
                <div class="col-md-3">
                  <!-- start sidebar -->
                  <aside class="mu-sidebar">
                    <!-- start single sidebar -->
                    <div class="mu-single-sidebar">
                      <h3>Categories</h3>
                      <ul class="mu-sidebar-catg">
                        <li><a href="/course">Basic English</a></li>
                        <li><a href="/course1">Intermediate English</a></li>
                        <li><a href="/course2">Advance English</a></li>
                        <li><a href="/videos">Videos </a></li>
                        <li>
                          <a
                            href="https://www.youtube.com/channel/UCnyrD4NZZpyKLNwy8yaKV2g"
                            >Audios</a
                          >
                        </li>
                        <li>
                          <a
                            href="https://www.speakenglishwithvanessa.com/6-book-recommendations-english-learners/?fbclid=IwAR1ofRq21mnyNBwt7PJWZAkQ90MPA7RJWA6uuLBallQUnmTEhUCNrBnXkbU"
                            target="blink"
                            >Books</a
                          >
                        </li>
                        <li>
                          <a href="/online_courses">Free Online Courses</a>
                        </li>
                      </ul>
                    </div>
                    <!-- end single sidebar -->
                    <!-- start single sidebar -->
                    <div class="mu-single-sidebar">
                      <h3>Popular Resources</h3>
                      <div class="mu-sidebar-popular-courses">
                        <div class="media">
                          <div class="media-left">
                            <a
                              href="https://learnenglish.britishcouncil.org/grammar/beginner-to-pre-intermediate"
                              target="blink"
                            >
                              <img
                                class="media-object"
                                src="/static/img/course1/10.jpeg"
                                alt="img"
                              />
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">
                              <a
                                href="https://learnenglish.britishcouncil.org/grammar/intermediate-to-upper-intermediate"
                                target="blink"
                                >Grammar</a
                              >
                            </h4>
                          </div>
                        </div>
                        <div class="media">
                          <div class="media-left">
                            <a
                              href="https://learnenglish.britishcouncil.org/grammar/intermediate-to-upper-intermediate"
                              target="blink"
                            >
                              <img
                                class="media-object"
                                src="/static/img/course1/12.png"
                                alt="img"
                              />
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">
                              <a
                                href="https://reallifeglobal.com/radio-podcast/"
                                target="blink"
                                >Vocabulary lesson</a
                              >
                            </h4>
                          </div>
                        </div>
                        <div class="media">
                          <div class="media-left">
                            <a
                              href="https://busyteacher.org/classroom_activities-pronunciation-worksheets/"
                              target="blink"
                            >
                              <img
                                class="media-object"
                                src="/static/img/course1/11.jpeg"
                                alt="img"
                              />
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">
                              <a
                                href="https://www.bbc.co.uk/learningenglish/features/pronunciation"
                                >Pronunciation lesson</a
                              >
                            </h4>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end single sidebar -->
                    <!-- start single sidebar -->
                    <div class="mu-single-sidebar">
                      <h3>Archives</h3>
                      <ul class="mu-sidebar-catg mu-sidebar-archives">
                        <li>
                          <a href="#">May <span>(25)</span></a>
                        </li>
                        <li>
                          <a href="#">June <span>(35)</span></a>
                        </li>
                        <li>
                          <a href="#">July <span>(20)</span></a>
                        </li>
                      </ul>
                    </div>
                    <!-- end single sidebar -->
                  </aside>
                  <!-- / end sidebar -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
