{% extends "layout.html" %}

{% block title %}
    Advance
{% endblock %}

{% block body %}

  <!-- Page breadcrumb -->
    <section id="mu-page-breadcrumb">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="mu-page-breadcrumb-area">
              <h2>Resources</h2>
              <ol class="breadcrumb">
                <li>
                  <a href="/" target="blink">Home</a>
                </li>
                <li class="active">Resources</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End breadcrumb -->
    <section id="mu-course-content">
      <div class="container">
        <h2>Advance English</h2>
        <div class="row">
          <div class="col-md-12">
            <div class="mu-course-content-area">
              <div class="row">
                <div class="col-md-9">
                  <!-- start course content container -->
                  <div class="mu-course-container">
                    <div class="row">
                      <div class="col-md-6 col-sm-6">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a
                              href="https://engoo.com/app/materials/grammar/6r1fXsYHEeimuzOlcF_9gA"
                              target="blink"
                              ><img src="/static/img/course2/1.jpg" alt="img"
                            /></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a
                                href="https://engoo.com/app/materials/grammar/6r1fXsYHEeimuzOlcF_9gA"
                                target="blink"
                                >Grammar
                              </a>
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h4>
                              <a
                                href="https://www.engvid.com/topic/grammar/"
                                target="blink"
                                >Advanced English Grammar</a
                              >
                            </h4>
                            <p>
                              Expand your Grammar knowledge and the way you
                              structure your sentences.
                            </p>
                            <div class="mu-latest-course-single-contbottom">
                              <a
                                class="mu-course-details"
                                href="https://www.bbc.co.uk/learningenglish/advanced-grammar-guide"
                                target="blink"
                                >Details</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a
                              href="https://engoo.com/app/materials/describing-pictures/P_HriMOnEeifo0O-yMP42w"
                              target="bink"
                              ><img src="/static/img/course2/2.jpg" alt="img"
                            /></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a
                                href="https://engoo.com/app/materials/describing-pictures/P_HriMOnEeifo0O-yMP42w"
                                target="blink"
                                >Describing Pictures</a
                              >
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h4>
                              <a
                                href="https://learnenglishteens.britishcouncil.org/exams/speaking-exams/describe-photo-or-picture"
                                target="blink"
                                >Describing Like an advanced
                              </a>
                            </h4>
                            <p>
                              Get the knowledge and advanced your vocabulary and
                              speaking skills by describing pictures.
                            </p>
                            <div class="mu-latest-course-single-contbottom">
                              <a
                                class="mu-course-details"
                                href="https://engoo.com/app/materials/describing-pictures/P_HriMOnEeifo0O-yMP42w"
                                target="blink"
                                >Details</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a
                              href="https://engoo.com/app/materials/health-lifestyle/0xcduMYWEei-XVPv0MdlmQ"
                              target="blink"
                              ><img src="/static/img/course2/3.jpg" alt="img"
                            /></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a
                                href="https://www.englishlessonviaskype.com/healthy-lifestyle-ielts-vocabulary/"
                                target="blink"
                                >Health & Lifestyle</a
                              >
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h4>
                              <a
                                href="https://engoo.com/app/materials/health-lifestyle/0xcduMYWEei-XVPv0MdlmQ"
                                target="blink"
                                >Get used to every day English</a
                              >
                            </h4>
                            <p>
                              These lessons are designed to help Learners live
                              thier english.
                            </p>
                            <div class="mu-latest-course-single-contbottom">
                              <a
                                class="mu-course-details"
                                href="https://engoo.com/app/materials/health-lifestyle/0xcduMYWEei-XVPv0MdlmQ"
                                >Details</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a
                              href="https://engoo.com/app/materials/travel-culture/KpAtCsOrEeisw4ceJUw1Tw"
                              target="blink"
                              ><img src="/static/img/course2/4.jpg" alt="img"
                            /></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a
                                href="https://engoo.com/app/materials/travel-culture/KpAtCsOrEeisw4ceJUw1Tw"
                                target="blink"
                                >Travel & Culture</a
                              >
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h4>
                              <a
                                href="https://www.linguahouse.com/esl-lesson-plans/topic/business-travel"
                                target="blink"
                                >Travel Confidently</a
                              >
                            </h4>
                            <p>
                              Get famous stories to help you advance and improve
                              tour vocabulary and reading comprehension skills.
                            </p>
                            <div class="mu-latest-course-single-contbottom">
                              <a
                                class="mu-course-details"
                                href="https://engoo.com/app/materials/world-literature/V6fdfsOrEeiJyO_mHSV7DA"
                                >Details</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a
                              href="https://engoo.com/app/materials/conversation/4g-usmSuEeirTddASFJXxg"
                              target="blink"
                              ><img src="/static/img/course2/5.jpg" alt="img"
                            /></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a
                                href="https://engoo.com/app/materials/conversation/4g-usmSuEeirTddASFJXxg"
                                target="blink"
                                >Convesation</a
                              >
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h4>
                              <a
                                href="https://www.english-at-home.com/advanced-conversations/"
                                target="blink"
                                >Speak Like a native</a
                              >
                            </h4>
                            <p>
                              These lessons cover a variety of topics to help
                              become more advanced and improve your
                              communication skills
                            </p>
                            <div class="mu-latest-course-single-contbottom">
                              <a
                                class="mu-course-details"
                                href="https://www.englishclub.com/esl-worksheets/conversation/"
                                target="blink"
                                >Details</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a
                              href="https://engoo.com/app/materials/business/RWVinsOrEeiE8w-LaNCm_w/"
                              target="blink"
                              ><img src="/static/img/course2/6.jpg" alt="img"
                            /></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a
                                href="https://www.englishclub.com/business-english/"
                                target="blink"
                                >Business</a
                              >
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h4>
                              <a
                                href="https://learnenglish.britishcouncil.org/business-english"
                                >Business English</a
                              >
                            </h4>
                            <p>
                              Get a wide range of language skills needed to
                              succeed in an English-speaking business
                              environment.
                            </p>
                            <div class="mu-latest-course-single-contbottom">
                              <a
                                class="mu-course-details"
                                href="https://engoo.com/app/materials/business/RWVinsOrEeiE8w-LaNCm_w/"
                                >Details</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a
                              href="https://engoo.com/app/materials/vocabulary/9uTJSsYPEeixthfMCuukyg"
                              target="blink"
                              ><img src="/static/img/course2/8.jpg" alt="img"
                            /></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a
                                href="https://engoo.com/app/materials/vocabulary/9uTJSsYPEeixthfMCuukyg"
                                target="blink"
                                >Vocabulary</a
                              >
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h4>
                              <a
                                href="http://www.eflnet.com/vocab/advanced_vocabulary.php"
                                target="blink"
                                >Advanced your Vocabulary</a
                              >
                            </h4>
                            <p>
                              These lessons are designed to help you advanced
                              Your English vocabulary.
                            </p>
                            <div class="mu-latest-course-single-contbottom">
                              <a
                                class="mu-course-details"
                                href="https://engoo.com/app/materials/vocabulary/9uTJSsYPEeixthfMCuukyg"
                                target="blink"
                                >Details</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a
                              href="https://engoo.com/app/daily-news"
                              target="blink"
                              ><img src="/static/img/course2/7.jpg" alt="img"
                            /></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a
                                href="https://www.bbc.com/news/world"
                                target="blink"
                                >Daily News</a
                              >
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h4>
                              <a href="https://edition.cnn.com/" target="blink"
                                >Get the latest news</a
                              >
                            </h4>
                            <p>
                              Breaking news, in-depth will hold your attention
                              while significantly improving your English skills.
                            </p>
                            <div class="mu-latest-course-single-contbottom">
                              <a
                                class="mu-course-details"
                                href="https://www.bbc.com/news/world"
                                target="blink"
                                >Details</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a
                              href="https://engoo.com/app/materials/world-literature/V6fdfsOrEeiJyO_mHSV7DA"
                              target="blink"
                              ><img src="/static/img/course1/7.jpeg" alt="img"
                            /></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a
                                href="https://engoo.com/app/materials/world-literature/V6fdfsOrEeiJyO_mHSV7DA"
                                target="blink"
                                >World Literature</a
                              >
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h4>
                              <a
                                href="https://en.wikipedia.org/wiki/World_literature"
                                target="blink"
                                >Improve your reading skills</a
                              >
                            </h4>
                            <p>
                              Get famous stories to help advanced students
                              improve their vocabulary and reading comprehension
                              skills.
                            </p>
                            <div class="mu-latest-course-single-contbottom">
                              <a
                                class="mu-course-details"
                                href="https://engoo.com/app/materials/world-literature/V6fdfsOrEeiJyO_mHSV7DA"
                                target="blink"
                                >Details</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a
                              href="https://engoo.com/app/materials/conversation-topics/Jc1wVsYdEeiT3kds4fNU1g"
                              target="blink"
                              ><img src="/static/img/course2/9.jpg" alt="img"
                            /></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a
                                href="https://engoo.com/app/materials/conversation/4g-usmSuEeirTddASFJXxg"
                                target="blink"
                                >Conversation Topic</a
                              >
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h4>
                              <a
                                href="https://engoo.com/app/materials/conversation/4g-usmSuEeirTddASFJXxg"
                                target="blink"
                                >Speak Like an advance</a
                              >
                            </h4>
                            <p>
                              These lessons cover a variety of topics to help
                              beginner to advanced students improve their
                              communication skills.
                            </p>
                            <div class="mu-latest-course-single-contbottom">
                              <a
                                class="mu-course-details"
                                href="https://conversationstartersworld.com/interesting-conversation-topics/"
                                target="blink"
                                >Details</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end course content container -->
                  <!-- start course pagination -->
                  <div class="mu-pagination">
                    <nav>
                      <ul class="pagination">
                        <li>
                          <a href="/course1" aria-label="Previous">
                            <span class="fa fa-angle-left"></span> Prev
                          </a>
                        </li>
                        <li><a href="/course">1</a></li>
                        <li><a href="/course1">2</a></li>
                        <li class="active"><a href="/course2">3</a></li>
                        <li><a href="/videos">4</a></li>
                        <li><a href="/online_courses">5</a></li>
                        <li>
                          <a href="/videos" aria-label="Next">
                            Next <span class="fa fa-angle-right"></span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                  <!-- end course pagination -->
                </div>
                <div class="col-md-3">
                  <!-- start sidebar -->
                  <aside class="mu-sidebar">
                    <!-- start single sidebar -->
                    <div class="mu-single-sidebar">
                      <h3>Categories</h3>
                      <ul class="mu-sidebar-catg">
                        <li><a href="/course">Basic English</a></li>
                        <li><a href="/course1">Intermediate English</a></li>
                        <li><a href="/course2">Advance English</a></li>
                        <li><a href="/videos">Videos </a></li>
                        <li>
                          <a
                            href="https://www.youtube.com/channel/UCGBvI8xXfyPWVXYRnvbe7rw"
                            >Audios</a
                          >
                        </li>
                        <li>
                          <a
                            href="https://www.speakenglishwithvanessa.com/6-book-recommendations-english-learners/?fbclid=IwAR1ofRq21mnyNBwt7PJWZAkQ90MPA7RJWA6uuLBallQUnmTEhUCNrBnXkbU"
                            >Books</a
                          >
                        </li>
                        <li>
                          <a href="/online_courses">Free Online Courses</a>
                        </li>
                      </ul>
                    </div>
                    <!-- end single sidebar -->
                    <!-- start single sidebar -->
                    <div class="mu-single-sidebar">
                      <h3>Popular Resources</h3>
                      <div class="mu-sidebar-popular-courses">
                        <div class="media">
                          <div class="media-left">
                            <a
                              href="https://www.stgeorges.co.uk/online-english/english-grammar-exercise-for-advanced-levels"
                              target="blink"
                            >
                              <img
                                class="media-object"
                                src="/static/img/course2/11.jpg"
                                alt="img"
                              />
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">
                              <a
                                href="http://www.advanced-english-grammar.com/"
                                target="blink"
                                >Grammar lesson</a
                              >
                            </h4>
                          </div>
                        </div>
                        <div class="media">
                          <div class="media-left">
                            <a href="https://www.vocabulary.com/lists/176046">
                              <img
                                class="media-object"
                                src="/static/img/course2/12.jpg"
                                alt="img"
                              />
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">
                              <a
                                href="https://freeenglishlessonplans.com/tag/advanced-vocabulary/"
                                >Vocabulary lesson</a
                              >
                            </h4>
                          </div>
                        </div>
                        <div class="media">
                          <div class="media-left">
                            <a
                              href="https://rachelsenglish.com/english-pronunciation-analysis/"
                              target="blink"
                            >
                              <img
                                class="media-object"
                                src="/static/img/course2/10.jpg"
                                alt="img"
                              />
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">
                              <a
                                href="https://www.engvid.com/speaking-english-advanced-pronunciation/"
                                target="blink"
                                >Pronunciation lesson</a
                              >
                            </h4>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end single sidebar -->
                    <!-- start single sidebar -->
                    <div class="mu-single-sidebar">
                      <h3>Archives</h3>
                      <ul class="mu-sidebar-catg mu-sidebar-archives">
                        <li>
                          <a href="#">May <span>(25)</span></a>
                        </li>
                        <li>
                          <a href="">June <span>(35)</span></a>
                        </li>
                        <li>
                          <a href="">July <span>(20)</span></a>
                        </li>
                        <li>
                          <a href="">August <span>(125)</span></a>
                        </li>
                        <li>
                          <a href="">September <span>(45)</span></a>
                        </li>
                        <li>
                          <a href="">October <span>(85)</span></a>
                        </li>
                      </ul>
                    </div>
                    <!-- end single sidebar -->
                  </aside>
                  <!-- / end sidebar -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
